body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
label{
    color: #08ffd1;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

span{
    color: white;
    font-size: 17px;
}


.submit_btn{
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    text-align: center;
    margin-left: 100px;
   
}


/* hover animation */

.child {
    animation-duration: 2s;
    animation-iteration-count: 
    infinite;
    transform-origin: right;
}

.bounce:hover {
    background-color: yellow;
    animation-name: bounce;
    animation-timing-function:ease;
}
@keyframes bounce {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(100px); }
  100% { transform: translateX(0); }
}



.login:hover .input_field {
    background-color: yellow;
}


/* must practice  hover in .login box (parent) , bg color change in input field (child)  */