body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}


h1 {
    font-family: monospace;
    font-weight: 900;
    font-size: 35px;
    color: rgba(219, 33, 0, 0.767);
}


main {
    display: flex;
    justify-content: center;
}

main img {
    /* width: 50%; */
    width: 600px;
    transition: transform 2s;
}

main img:hover {
    transform: scale(1.1); 
}


.left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
}

.right-div {
    /* width: 60%; */
}

.left-div span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(18, 0, 59);
}


.submit_btn{
    cursor: pointer;
    text-decoration: none;
    padding: 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    font-family: cursive;
    font-size: 20px;
   
}


/* hover animation */

.child {
    animation-duration: 3s;
    animation-iteration-count: 
    infinite;
    transform-origin: right;
}

.bounce:hover {
    background-color: rgb(235, 65, 23);
    animation-name: bounce;
    animation-timing-function:ease;
}
@keyframes bounce {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(300px); }
  100% { transform: translateX(0); }
}






/* must practice  hover in .login box (parent) , bg color change in input field (child)  */